---
---
<!DOCTYPE html>
<html class="js-html">
	<head>
		{% include components/meta-tags.html %}
	</head>
	
	<body>
		<nav class="nav"><div class="nav-wrap d-midWrap">
			<h2 class="nav-title u-title"><a href="https://corporomalala.com">Corporo <br />Malala</a></h2>

			<div class="nav-aside d-cssCentered">
				<a href="mailto:info@corporomalala.com">info@corporomalala.com</a>
			</div>
		</div></nav>

		<section class="banner"><div class="banner-wrap d-midWrap">
			<h2 class="banner-tag">You've got a business, <br />we have got brilliant minds.</h2>
			<div class="banner-aside">
				<p class="banner-text">Business owners are always looking for ways to protect their business' assets. And over the years, a number of strategies have been developed to help them do so. One of the most effective is to divide the business into several business entities all owned and controlled by a single holding company.</p>

				<div class="banner-footer">
					<p class="u-title">You + We = <br /><br />Corporo <br />Malala</p>
				</div>
			</div>
		</div></section>

		<section class="companies m-gallery"><ul class="companies-list m-gallery-list">{% for file in site.data.companies %}{% for data in file %}
			<li class="companies-list-item m-gallery-list-item">
				<a href="{{ data[1] }}" class="companies-link m-gallery-link" title="Visit Website">{{ data[0] }}</a>
				<img src="/assets/images/companies-{{ data[0] | downcase | replace: ' ', '' }}.png" class="companies-placeholder m-gallery-placeholder" />
			</li>
		{% endfor %}{% endfor %}
		</ul></section>

	<section class="area">
		<section class="message d-midWrap"><div class="message-wrap d-cssCentered">
			<h3 class="message-tag">And it's not just money. <br />We give back!</h3>
		</div></section>

		<section class="gigs m-gallery"><ul class="gigs-list m-gallery-list">{% for file in site.data.gigs %}{% for data in file %}
			<li class="gigs-list-item m-gallery-list-item">
				<a href="{{ data[1] }}" class="gigs-link m-gallery-link" title="Visit Instagram">{{ data[0] }}</a>
				<img src="/assets/images/gigs-{{ data[0] | downcase | replace: ' ', '' }}.png" class="gigs-placeholder m-gallery-placeholder" />
			</li>{% endfor %}{% endfor %}
		</ul></section>
	</section>

		<footer class="footer"><div class="footer-wrap d-midWrap">
			&copy; Copyrights 2023: <a href="https://corporomalala.com" class="u-title">Corporo Malala</a>. All rights reserved.
		</div></footer>

	<script src="assets/scripts/www-dot-corporomalala-dot-com.js"></script>
	</body>
</html>